<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Simple Blog Post App</a>
</nav>
<div class="container-fluid simple-blog-main-body">
  <div class="row">
    <div class="col-md-3">
      <form class="simple-blog-form">
        <label for="newInputName" class="sr-only">Title</label>
        <input [(ngModel)]="newBlog.name" name="newInputName" type="text" id="newInputName" class="form-control"
               placeholder="Blog Title" required autofocus>
        <button (click)="createBlog(newBlog.name)" class="btn btn-success" type="submit">Create</button>
      </form>
      <br>
      <div class="list-group">
        <button (click)="findBlogPostById(blog.id)" *ngFor="let blog of blogsList"
                class="list-group-item list-group-item-action">
          {{blog.name}}
        </button>
      </div>
    </div>
    <div class="col-md-9">
      <div *ngIf="!selectedBlog">View Blog contents here ...</div>
      <div *ngIf="selectedBlog">
        <form class="simple-blog-form">
          <h2>Blog Post</h2>
          <label for="inputName" class="sr-only">Title</label>
          <input [(ngModel)]="selectedBlog.name" name="inputName" type="text" id="inputName" class="form-control"
                 placeholder="Blog Title" required autofocus>
          <label for="inputDesc" class="sr-only">Description</label>
          <input [(ngModel)]="selectedBlog.description" name="inputDesc" type="text" id="inputDesc" class="form-control"
                 placeholder="Blog Description" required autofocus>
          <label for="inputText" class="sr-only">Text</label>
          <textarea [(ngModel)]="selectedBlog.text" name="inputText" type="text" id="inputText" class="form-control"
                    placeholder="Blog Text" required autofocus rows="3"></textarea>
          <button (click)="updateBlogPost(selectedBlog.name,selectedBlog.description,selectedBlog.text)"
                  class="btn btn-primary" type="submit">Update
          </button>
          <button (click)="deleteBlogPost(selectedBlog.id)" class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
